services:
  dubrify-docs:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      NODE_ENV: production
      PORT: 3000
      HOSTNAME: 0.0.0.0
    ports:
      - "10008:8080"
    restart: unless-stopped
